/* Generates a 'main.css' file when compiled w/ Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #003366;
    --primary-dark: #002952;
    --secondary: #fed233;
    --desktop-width: 1365px;
    --mobile-width: 100vw;
}

/* Scrollbar configurations */

/* For webkit */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #DDD;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary--dark);
    cursor: pointer;
}

/* For FireFox */
* {
    scrollbar-width: 3px;
    scrollbar-color: var(--primary) #DDD;
}

@layer components {
    .btn-w-bg-image {
        @apply 
            p-1
            scale-95 hover:scale-100
            transition-transform duration-300
        ;
    }
    .admin-action-button {
        @apply 
            block 
            h-8 aspect-square 
            rounded-full bg-neutral-100
            hover:bg-neutral-200 active:bg-neutral-300
            transition-colors
        ;
    }

    .admin-dropdown-menu {
        @apply 
            z-50 absolute
            flex flex-col gap-1
            p-2 bg-white 
            border border-black-pure border-opacity-10
            rounded-md shadow-md

            *:flex *:items-center *:gap-4
            *:px-4 *:py-2
            *:rounded-md *:transition-colors
            hover:*:bg-neutral-200 
            active:*:bg-primary active:*:text-white active:*:transition-none
        ;
    }

    .default-border {
        @apply 
            border border-black-pure border-opacity-15 
            outline-none focus:border-opacity-100
        ;
    }

    .primary-border {
        @apply 
            border border-primary-dark border-opacity-15 
            outline-none focus:border-opacity-100
        ;
    }
}
